extends layout

block content
    form#forget-password-form(action='/forget-password' method='post')
        div
            label(for='email') Email:
            input(type='email' id='email' name='email')
        button(type='submit') Send Reset Email

    script.

