extends layout

block content
    form#reset-password-form(method="POST" action="/reset-password")
        input(type='hidden' name='token' value=token)
        div
            label(for='password') New Password:
            input(type='password' id='password' name='password' required)
        button(type='submit') Reset Password
